.news-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.news {
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px 0;

  @media (min-width: 680px) {
    float: left;
    flex-basis: 48%;
  }

  @media (min-width: 1200px) {
    flex-basis: 31.33%;
  }
}
